services:
  postgres:
    image: postgres:16
    container_name: academia_postgres_container
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=academia_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: